<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Wypożyczenie</title>
</head>
<body>
    <h1>Edytuj Wypożyczenie</h1>
    <form action="/update_borrow/{{ wypozyczenie.id }}" method="post">
        <label for="ksiazka_id">ID Książki:</label>
        <input type="number" id="ksiazka_id" name="ksiazka_id" value="{{ wypozyczenie.ksiazka_id }}" readonly><br><br>

        <label for="czytelnik_id">ID Czytelnika:</label>
        <input type="number" id="czytelnik_id" name="czytelnik_id" value="{{ wypozyczenie.czytelnik_id }}" readonly><br><br>

        <label for="data_wypozyczenia">Data Wypożyczenia:</label>
        <input type="date" id="data_wypozyczenia" name="data_wypozyczenia" value="{{ wypozyczenie.data_wypozyczenia.strftime('%Y-%m-%d') }}" required><br><br>

        <label for="data_zwrotu">Data Zwrotu:</label>
        <input type="date" id="data_zwrotu" name="data_zwrotu" value="{{ wypozyczenie.data_zwrotu.strftime('%Y-%m-%d') if wypozyczenie.data_zwrotu else '' }}"><br><br>

        <input type="submit" value="Zaktualizuj Wypożyczenie">
    </form>
    <br>
    <a href="/">Powrót do Listy Wypożyczeń</a>
</body>
</html>
